.calculator {
	width: 220px;
	margin: auto;
}

.btn-line {
	width: 100%;
	margin-bottom: 10px;
}

.calc-btn {
	height: 52px;
	width: 52px;
}

.display {
	width: 100%;
	height: 50px;
	font-size: 26px;
    font-weight: bold;
}